<% include partials/header %>
<div class=container-fluid>
        <div class="container-fluid">
            
            <header class="jumbotron">
                <h4>List Companies</h4>
                <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-outline-secondary">Add a Company</button>
                      <button type="button" class="btn btn-outline-secondary">Export</button>
                </div>
            </header>

        </div>

        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-2">
                    <div class="list group list-group-flush">
                        <li class="list-group-item text-center"><strong>Quick Filters</strong></li>
                        <li class="list-group-item text-center"><a href="/">Managed by Me</a></li>
                        <li class="list-group-item text-center"><a href="/">Recently Created</a></li>
                        <li class="list-group-item text-center"><a href="/">Active</a></li>
                    </div>    
                    
                </div>
                <div class="col-md-10">
                    <nav class="navbar navbar-light bg-light">
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Status: All
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                  <a class="dropdown-item" href="/">Dropdown link</a>
                                  <a class="dropdown-item" href="/">Dropdown link</a>
                                </div>
                            </div>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Manager: All
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                  <a class="dropdown-item" href="/">Dropdown link</a>
                                  <a class="dropdown-item" href="/">Dropdown link</a>
                                </div>
                            </div>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Created: All
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                  <a class="dropdown-item" href="/">Dropdown link</a>
                                  <a class="dropdown-item" href="/">Dropdown link</a>
                                </div>
                            </div>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  More
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                  <a class="dropdown-item" href="/">Dropdown link</a>
                                  <a class="dropdown-item" href="/">Dropdown link</a>
                                </div>
                            </div>
                        </div>
                        
                             <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                             </form>
                        </nav>
                        
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col-sm-4">Companies</th>
                                    <th scope="col-sm-1">Contact</th>
                                    <th scope="col-sm-5">Address</th>
                                    <th scope="col-sm-1">Phone</th>
                                    <th scope="col-sm-1">Status</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <% companies.forEach(function(company){ %>
                                    <tr>
                                        <th scope="row"><a href="/"><%= company.name %></a></th>
                                        <td><a href="/"><%= company.contact %></a></td>
                                        <td><%= company.address %></td>
                                        <td><%= company.phone %></td>
                                        <td><%= company.status %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
       
                </div>    
                
                
            </div>
        </div>
    
</div>


   
    

<% include partials/footer %>